# Esercizi con le Tuple

## Esercizi con le Tuple

**Facciamo un po' di pratica con le tuple**

Selezionare e stampare (con `print`) il secondo elemento della seguente tuple:

In [1]:
t = (2, 4, 6, 8)
print(t[1])

4

* Stampare a terminale il concatenamento delle seguenti tuple
* Si preceda la stampa con la dicitura "t1 + t2:"

In [2]:
t1, t2 = (1, 2), (3, 4)
print(f't1 + t2: {t1+t2}')

t1 + t2: (1, 2, 3, 4)

## Esercizi con le Tuple

**Facciamo un po' di pratica con le tuple**

* A partire dalla seguenti tuple `t1` e `t2`, formare una tupla `t3`
* ...Contenente il primo elemento di `t1` ed il secondo di `t2`

In [3]:
t1, t2 = (1, 2), (3, 4)
t3 = (t1[0], t2[1])
print(t3)

(1, 4)

* Assegnare i valori della tupla `t` alle variabili `a` e `b`
* Stamparne il valore con il formato "a: `<valore>`, b: `<valore>`"

In [4]:
t = (2, 4)
a, b = t
print(f'a: {a}, b: {b}')

a: 2, b: 4